@use 'globals';
@use 'utils';
@use 'layout';

header {
  .name-container {
    padding-inline: 0 10rem;
    display: block;

    &::after {
      content: '';
      display: block;
      height: 2px;
      margin-block: 0.5rem 1.5rem;
      background-color: rgba(5, 5, 5, 0.733);
      width: 37.5rem;
      animation: h1_underline_animation 1s forwards;
    }

    h1 {
      font-size: 6rem;
      width: 10ch;
      text-transform: uppercase;
      font-family: var(--main-font);
      font-weight: 900;
      line-height: 1.3;
      .h1-name {
        opacity: 0;
        color: rgb(95, 95, 95);
      }
      .h1-name:nth-of-type(1) {
        animation: h1_animation 0.75s 0.25s forwards;
        display: inline-block;
      }
      .h1-name:nth-of-type(2) {
        animation: h1_animation 0.75s forwards;
        display: inline-block;
      }
      span:not(#h1-upper-span, #h1-lower-span, .h1-name) {
        // color: rgba(255, 0, 0, 0.75);
        color: rgb(79 79 79);
        opacity: 0;
        animation: h1_bracket_animation 0.5s 1s forwards;
      }
    }
  }

  .svg-container {
    cursor: pointer;
    position: relative;
    padding: 1rem;
    svg {
      height: 3.25rem;
      width: 3.25rem;
      fill: rgb(129 129 129);
      transition: transform 0.5s linear;
    }

    &::after {
      opacity: 0;
    }
    &:hover::after {
      position: absolute;
      top: 1rem;
      left: 5rem;
      font-size: 2rem;
      line-height: 2.25rem;
      padding: 0.5rem;
      animation: svg_after_animation 0.5s 0.5s forwards;
    }
  }
}
#github-container {
  &:hover svg {
    transform: rotateY(360deg);
  }
  &:hover::after {
    content: 'github.com/slavyspasoff';
  }
}
#email-container {
  &:hover svg {
    transform: rotate(360deg);
  }
  &:hover::after {
    content: 'slavyspasoff@gmail.com';
  }
}
#linkedin-container {
  &:hover svg {
    transform: rotateY(360deg);
  }
  &:hover::after {
    content: 'linkedin/stillnoaccout';
  }
}
