:root {
  font-size: 62.5%;
  --main-font: 'Lato', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: rgb(249, 251, 255);
  padding: 2rem;
}

// =============================== Header ===============================

header {
  .name-container {
    padding-inline: 0 10rem;
    display: block;
    &::after {
      content: '';
      display: block;
      height: 2px;
      margin-top: 0.5rem;
      background-color: rgba(5, 5, 5, 0.733);
      width: 37.5rem;
    }
    h1 {
      font-size: 6rem;
      color: rgb(79 79 79);
      width: 10ch;
      text-transform: uppercase;
      font-family: var(--main-font);
      font-weight: 900;
      span {
        color: rgba(255, 0, 0, 0.75);
      }
    }
  }
  svg {
    height: 3.5rem;
    width: 3.5rem;
    fill: rgb(129 129 129);
  }
}
