@use 'globals';
@use 'utils';
@use 'layout';

header {
  .name-container {
    padding-inline: 0 10rem;
    display: block;

    &::after {
      content: '';
      display: block;
      height: 2px;
      margin-block: 0.5rem 1.5rem;
      background-color: rgba(5, 5, 5, 0.733);
      width: 37.5rem;
    }

    h1 {
      font-size: 6rem;
      color: rgb(79 79 79);
      width: 10ch;
      text-transform: uppercase;
      font-family: var(--main-font);
      font-weight: 900;
      .h1-span-animation {
        opacity: 0;
      }
      .h1-span-animation:nth-of-type(1) {
        animation: h1_animation 0.75s 0.25s linear;
        display: inline-block;
        animation-fill-mode: forwards;
      }
      .h1-span-animation:nth-of-type(2) {
        animation: h1_animation 0.75s linear;
        display: inline-block;
        animation-fill-mode: forwards;
      }
      span:not(#h1-upper-span, #h1-lower-span, .h1-span-animation) {
        color: rgba(255, 0, 0, 0.75);
      }
    }
  }

  .svg-container {
    svg {
      height: 3.5rem;
      width: 3.5rem;
      fill: rgb(129 129 129);
    }
  }
}
