@use 'globals';
@use 'utils';
@use 'layout';

header {
  .name-container {
    padding-inline: 0 10rem;
    display: block;

    &::after {
      content: '';
      display: block;
      height: 2px;
      margin-block: 0.5rem 1.5rem;
      background-color: rgba(5, 5, 5, 0.75);
      width: 37.5rem;
      animation: h1_underline_animation 1s forwards;
    }

    h1 {
      font-size: 6rem;
      width: 10ch;
      text-transform: uppercase;
      font-family: var(--main-font);
      font-weight: 900;
      line-height: 1.3;
      .h1-name {
        opacity: 0;
        color: rgb(95, 95, 95);
      }
      .h1-name:nth-of-type(1) {
        animation: h1_animation 0.75s 0.25s forwards;
        display: inline-block;
      }
      .h1-name:nth-of-type(2) {
        animation: h1_animation 0.75s forwards;
        display: inline-block;
      }
      span:not(#h1-upper-span, #h1-lower-span, .h1-name) {
        color: var(--bracket-clr);
        opacity: 0;
        animation: h1_bracket_animation 0.5s 1s forwards;
      }
    }
  }

  .svg-container {
    width: 4rem;
    cursor: pointer;
    position: relative;
    margin: 1.5rem 1rem;
    svg {
      height: 3.25rem;
      width: 3.25rem;
      fill: var(--svg-clr);
      transition: transform 0.5s linear;
    }
    &:hover {
      width: 35rem;
    }
    &::after {
      opacity: 0;
    }
    &:hover::after {
      position: absolute;
      color: var(--svg-clr);
      top: 0;
      left: 5rem;
      font-size: 2rem;
      line-height: 2.25rem;
      padding: 0.5rem;
      animation: svg_after_animation 0.5s 0.5s forwards;
    }
  }
}

#github-container {
  &:hover svg {
    transform: rotateY(360deg);
  }
  &:hover::after {
    content: 'github.com/slavyspasoff';
  }
}
#email-container {
  &:hover svg {
    transform: rotate(360deg);
  }
  &:hover::after {
    content: 'slavyspasoff@gmail.com';
  }
}
#linkedin-container {
  &:hover svg {
    transform: rotateX(-360deg);
  }
  &:hover::after {
    content: 'linkedin/stillnoaccout';
  }
}

main {
  width: min(180ch, 100%);
  margin: 5rem 5rem 0 auto;
  padding: 2rem;
  article {
    color: rgb(63 63 63);
    h2 {
      opacity: 0;
      animation: h1_animation 1s 1.75s forwards;
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }
  p {
    opacity: 0;
    animation: h1_animation 0.75s 2s forwards;
    font-size: 1.5rem;
    line-height: 1.3;
  }
}
