:root {
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-clr-main);
  padding: 2rem;
}
